<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Carnet d'adresse {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/fa/css/font-awesome.min.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/my-styles.css')) }}">
        
        {% block stylesheets %}
        {% endblock %}
        
    </head>
    <body class="bg-dark">
        <header class="header">
            <h2>Votre carnet d'adresses personnel</h2>
        </header>
        <div class="container-fluid">
            <div class="main-content">
                <h3 class="page-title">{% block pageTitle %}{% endblock %}</h3>
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer class="fixed-footer">
            <div class="footer-content">
                Par sensei237 - contact: 656967064 - email: emmaberanger2@gmail.com
            </div>
        </footer>

        <script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('js/bootstrap.min.js')) }}"></script>
        {% block javascripts %}{% endblock %}

        <script>
            $('#adresse_image').change(function(){
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("adresse_image").files[0]);
                oFReader.onload = function(oFREvent) {
                    document.getElementById("previsualisation").src = oFREvent.target.result;
                };
            });
        </script>
    </body>
</html>
